.formtastic
  =semantic_form_for @petition do |form|

    =form.inputs :name => "Basique" do
      =form.input :title
      =form.input :subtitle
      =form.input :intro
      =form.input :body

    =form.inputs :name => "Avancé" do
      =form.input :name, :hint => "Exemple: petition-0, non-a-la-guerre"
      =form.input :started_at
      =form.input :stopped_at
      =form.input :published
      =form.input :active
      =form.input :sender, :hint=>"Utilisée dans les notifications par mail"
    
