-if current_user
  =link_to("Nouvelle pétition", new_petition_url, :class=>"petition-intro")

-for petition in @petitions
  =link_to(petition_url(petition), :class=>"petition-intro") do
    -if current_user
      .menu
        =link_to "Modifier", edit_petition_url(petition)
        =link_to "Supprimer", petition_url(petition), :method=>:delete, :confirm=>tl(:are_you_sure)
    =image_tag(petition.logo.url(:small)) if petition.logo.file?
    %h2=petition.title
    %h2.subtitle=petition.subtitle
    =markup(petition.intro)
    %em.footer="Mise en ligne du #{I18n.localize(petition.started_at.to_date, :format=>:long)} au #{I18n.localize(petition.stopped_at.to_date, :format=>:long)} : #{tl(:x_signatures, :count=>petition.valid_signatures.count)}."

-if @petitions.size.zero?
  .cart
    %h1.title="Aucune pétition consultable"

    
