=form_tag({:action=>:update}, {:class=>"formtastic form edit"}) do
  .fields.flex
    =render :partial=>partial
    .end
  .actions
    =submit_tag(tl(options[:submit]||:update), :disable_with=>tl(:please_wait))
    =link_to tl(options[:cancel]||:cancel), :back

