!!! XML utf-8
%html
  %head
    %title=title
    =stylesheet_link_tag    "application"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    .page
      .in-page
        -if current_user
          .menu
            =link_to("Personnes", people_url)
            =link_to("Se déconnecter", session_url, :method=>:delete, :confirm=>tl(:are_you_sure))
        %h1.auto=title
        =notification_tag(:error)
        =notification_tag(:warning)
        =notification_tag(:info)
        =notification_tag(:success)
        =yield
      .legals
        =link_to "Liste des pétitions", root_url
        %span=" - "
        =link_to("Lilion 0.0.1", new_session_url)
        
