!!! XML utf-8
%html
  %head
    %title=title
    =stylesheet_link_tag    "application"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    .page
      -if current_user
        .menu
          =link_to("Se déconnecter", session_url, :method=>:delete, :confirm=>tl(:are_you_sure))
      %h1=title
      =yield
      .legals Lilion 0.0.1
